body{
    height: 50rem;
    background-image: radial-gradient(farthest-side at 50% 50%,yello,lightgray);
    background-size: contain;
}

.container{
    width: 80%;
    height: 80%;
    margin: auto;
    position: fixed;
    top: 10%;
    left: 10%;
    
}

.slider{
    height: 75%;
    display: flex;
    box-shadow: 0px 2px 5px 1px black;
}

.thumbnail
{
    height: 20%;
}

.buttonBg
{
    background-color:green;
    height: 100%;
    width: 5%;
}



 <div id="previous" class="box"><</div>
  <div class="box" id="current"></div>
  <div id="next" class="box">></div>
</div>







.slideButton
{
    width: 100%;
    height: 100%;
    background: none;
    background-image: url("http://stayathome-syllabus.greenfox.academy/week03/assets/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}

.slideButton:hover
{
    cursor: pointer;
    opacity: 75%;

}

#right
{
    transform: scaleX(-1);
}

.imageView
{
    width: 90%;
    position: relative;
    display: flex;
}

.bigImage{
    width: 100%;
    object-fit: none;
}

h1, p{
    color:blue;
    padding-left: 5%;
}

#descriptionBg
{
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

#description
{
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
}

.thumbnail{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnailImageContainer{

    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: grey;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 1px 5px 1px black;
}

.thumbnailImage{
    max-width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.thumbnailImageContainer:hover{
    cursor: pointer;
}